.session-container {
  margin-bottom: 50px;
  width: 50%;
}

.session-name {
  margin-bottom: 3px;
}

.speaker-name {
  margin-top: 3px;
  margin-bottom: 5px;
  color: rgb(88, 101, 221);
}

small {
  font-family: 'Arial';
}