ul {
  list-style: none;
}

form {
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 50px;
  label, input, button {
    font-size: 18px;
    font-family: 'Arial';
  }
  button {
    background-color: rgb(88, 101, 221);
    color: #ffffff;
    height: 27px;
    cursor: pointer;
    border: none;
  }
  input {
    height: 20px;
  }
}