img {
  margin-right: 20px;
}

div {
  margin-top: 100px;
  text-align: center;
}

.image-text-container {
  cursor: pointer;
  position: relative;
  display: inline-block; /* Make the width of box same as image */
}
.image-text-container .image-text {
  opacity: 0;
  position: absolute;
  z-index: -999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 40%; /* Adjust this value to move the positioned div up and down */
  background: rgba(0, 0, 0, 0.8);
  font-family: Arial, sans-serif;
  color: #ffffff;
  width: 60%; /* Set the width of the positioned div */
}
